a {
  color: white!important;
}

body{
  background-image: url("https://images.pexels.com/photos/269630/pexels-photo-269630.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-repeat: repeat-y;
  background-size: cover;
}

h2{
  font-size: 34px;
  color: white;

}

.hand_img {
  height: 300px;
  width: 400px;
}

.main_bg{
  background-color: rgba(0, 0, 0, 0.5);
}
